:root{
    --light-grey: hsl(212, 45%, 89%);
    --grey: hsl(220, 15%, 55%);
    --dark-navy: hsl(218, 44%, 22%);
    --blue-shade: hsl(216, 100%, 61%);
    --blue: hsl(216, 95%, 58%);
    --white: hsl(0, 0%, 100%);
}